{% extends 'product/base.html' %}
{% block content %}
{% load my_tags %}
<div class="text-center container">
    <div class="col-12">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <p>Удалить "{{ object.title }}"</p>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Удалить</button>
                        <a type="button" href="{% url 'materials:materials'%}" class="btn btn-lg btn-block btn-outline-primary">возврат</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}